


/* CSS para el encabezado */
#header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #491d1d;
    color: #fff;
    z-index: 100; /* Asegura que el encabezado este por encima del contenido */
}

.encabezado {
    background-color: #491d1d; 
    color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente el contenido */
    padding: 2px; /* Añade espacio alrededor del encabezado */
   
    width: 95%;
}


#content {
    margin-top: 80px; /* Ajusta este valor segun tus necesidades */
}



.logo-img {
    width: 100px; 
    height: auto;
    margin-left: auto; /* Mueve el logotipo al extremo derecho */
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff; /* Cambia el color de los enlaces del menu */
}

.menu a:hover {
    color: #0077B5;
}
.parrafo-con-fondo {
   
    background-size: cover;
    color: #892222; 
    padding: 20px;
    margin-top: 20px;
}

.imagen-cabanas {
    width: 100%;
    height:auto;
}
/*NUEVOS*/

ul {
    list-style: none; /* Quita los puntos de lista */
    padding: 0;
    margin: 0;
}

li {
    display: inline; /* Muestra los elementos en línea */
    margin-right: 20px; /* Espaciado entre elementos del menú */
}

/* Estilo para los enlaces de los menu*/
li a {
    text-decoration: none; /* Quita la subrayado predeterminado de los enlaces */
    color: #333; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
}

li a:hover {
    color: #0078d4; /* Color del texto cuando se pasa el cursor */
}




body {
    background-color: rgb(177, 188, 154);
}


/*IMAGENES*/

.imagenes-de-cabañas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; /* Espacio entre las imagenes */
}

.imagen {
    text-align: center; /* Centra la imagen y su descripcion */
}

.imagen img {
   
    width: 200px; 
    height: 200px; 
}


.descripcion-imagen {
    background-color: #f5f5f5; /* Fondo para la descripcion */
    padding: 10px;
    border: 1px solid #ddd;
}



/*FORMULARIO*/

   
form {
    background-color: #e67878;
    padding: 30px;
    border: 5px inset ;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
    
  }

  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
   
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }  

  button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .contact-info {
    margin-top: 50px;
  }

  
  .error {
    border: 2px dashed red;
   }



  /*CARROUSEL */

  

#carousel-container {
    text-align: center;
}
#image-list {
    list-style: none;
    padding: 0;
}
